

:root{
     --colorBaseOscuro: #649a9a /*verde oscuro 
     background-color: #1A2E52*/

}


body{
    margin-top:55px;
    background-color: #fff;
}

.row {
     display: flex;
     width: 100%;
   }

   

.holaGerardo {
     position: absolute;
     top: 50%;
     left: 11%;
     color: #FAFAFA;
     filter: drop-shadow(5px 5px 5px #000);

}

   
   .header {
     height: 100vh;
     display: flex;
   }
   
   .content {
     margin: auto;
   }
   
   .header-video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
   }
   
   .header-video video {
     min-width: 100%;
     min-height: 100%;
   }
   
   .header-overlay {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     x-index: 1;
   }
   
   .header-content {
     z-index: 2;
     margin-left: 60px;
     font-size: 50px;
     font-family: "Anonymous Pro", monospace;
   }

   #textPortfolio {
     position:relative;
     font-size: 20px;
     letter-spacing: 2px;

}


h1{
     font-family: 'Montserrat', sans-serif;
     display: Flex;
     color: #FAFAFA;
     font-size: 35px;
     filter: drop-shadow(3px 3px 3px #000);

}


#photoMe {
     width: 100%;
     display: block;
     margin: auto;
}

h4{
     position: relative;
     left: 30%;

}

#aboutMe{
     border: 1px solid #000;
     padding-left: 15px;
     padding-right: 15px;
     }



